<section class="header">
  <header>
    <h1>Hudson Nicoletti</h1>
    <span>Full Stack Web Developer</span>
    <small>Also a Private Pilot ‍✈️	</small>
  </header>
  <button class="scroll" data-scroll-goto="1"></button>
</section>

<nav>
  <a class="toggle" id="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul id="menu">
    <li><a href="#" data-scroll-nav="1" >About</a></li>
    <li><a href="#" data-scroll-nav="2" >Resume</a></li>
    <li><a href="#" data-scroll-nav="3" >Skills</a></li>
    <li><a href="#" data-scroll-nav="4" >Services</a></li>
    <li><a href="#" data-scroll-nav="5" >Portfolio</a></li>
    <li><a href="#" data-scroll-nav="6" >Contact</a></li>
  </ul>
</nav>

<section class="about" data-scroll-index="1">
  <div class="container">
    <div class="column left wow slideInLeft">
      <h2>Hello, i’m Hudson Nicoletti Modesto <small>a Full Stack Web Developer and a Private Pilot</small></h2>

      <p>With 5 years of hands-on experience efficiently coding websites and applications using modern HTML, CSS, JavaScript,PHP, Javascript, Mysql, No-Sql, JSON and various in-depth programming skills/frameworks for development.</p>
      <p>Building state-of-the-art, easy to use, user-friendly websites and applications is truly a passion of mine. I actively seek out new technologies and stay up-to-date on industry trends and advancements.My Continued education has allowed me to stay ahead of the curve and deliver exceptional work to each employer I’ve worked for both full-time and contract.</p>
      <p>In my spare time , when i’m not learning, i fly for a few hours gaining more experience as a Professional Pilot.</p>

      <div class="cta">
        <a href="assets/public/docs/resume_en.pdf"  class="waves-effect waves-light" download="resume.pdf"><i class="material-icons">file_download</i> Download Resume</a>
        <a href="#contact" class="waves-effect waves-light" data-scroll-goto="6"><i class="material-icons">work</i> Hire Me</a>
      </div>
    </div>
    <div class="column right wow slideInRight">
      <figure>
        <img src="assets/public/images/hudson.jpg" alt="Hudson Nicoletti Modesto">
      </figure>
    </div>
  </div>
</section>

<section class="resume" data-scroll-index="2">
  <div class="container">
    <div class="education">
      <h2>Education</h2>
      <div class="item wow slideInRight">
        <h4 class="date">2017</h4>
        <h3>TOEFL ITP <small>CCAA Londrina</small></h3>
        <div class="dot"></div>
        <p>TOEFL ITP Test ( Paper test ), with a total score of <b>573</b> ( max: 677 ).</p>
        <p> LISTENING - 61 <br>
            STRUCTURE - 54 <br>
            READING   - 57
        </p>
        <p>
          <b>TOEFL IBT Equivalent</b>: 79 - 95 <br>
          <b>IELTS Equivalent</b>: 65 - 70
        </p>
      </div>
      <div class="item wow slideInLeft">
        <h4 class="date">2016 &mdash; 2017</h4>
        <h3>Pilot Private Course <small>Aeroclube de Londrina</small></h3>
        <div class="dot"></div>
        <p>Gound &amp; Flight School completed in 8 months , with 45 flight hours i’ve obtained my private pilot licensce.</p>
      </div>
      <div class="item wow slideInRight">
        <h4 class="date">2010 &mdash; 2012</h4>
        <h3>Web Design Course <small>Microcamp Londrina</small></h3>
        <div class="dot"></div>
        <p>Full web design course , learning from image manipulation to full time coding challenges.</p>
      </div>
    </div>
    <div class="employment">
      <h2>Employment</h2>

      <div class="item wow slideInRight">
        <h4 class="date">2013 &mdash; Today</h4>
        <h3>Full Stack Web Developer <small>Agência dZoë</small></h3>
        <div class="dot"></div>
        <p>Designed , Developed and published full web applications with API’s and user login systems for complex client’s needs; </p>

        <p>Developed and implemented complex Internet and Intranet applications on multiple platforms; </p>

        <p>Coordinated with systems partners to finalize designs and confirm requirements; </p>

        <p>Provided continued maintenance and developmentof bug fixes and patch sets for existing web applications; </p>

        <p>Designed strategic plan for component development practices to support future projects; </p>

        <p>Consistently met deadlines and requirements for allproduction work orders; </p>

        <p>Advocated for end-users to perform testing and problem analysis for server, desktop infrastructure work. </p>
      </div>

      <div class="item wow slideInLeft">
        <h4 class="date">2012 &mdash; 2012</h4>
        <h3>Web Design Intern <small>Akweb</small></h3>
        <div class="dot"></div>
        <p>Provided continued maintenance and development of bug fixes and patch sets for existing web applications;</p>

        <p>Designed &amp; structured artwork for E-Mail Marketing;</p>

        <p>Published artworks for website sliders and E-Mail Marketing;</p>
      </div>

    </div>
  </div>
</section>

<section class="skills" data-scroll-index="3">
  <div class="container">
    <h2>Skills</h2>
    <div class="columns">
      <ul class="wow fadeIn">
        <h4>Professional</h4>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> MVC Structure <small> PhalconPHP </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> OOP (PHP) <small>Object Oriented Programming</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> PHP <small> PHP Web Applications</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Javascript <small>Front &amp; Back-end Applications</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> HTML &amp; CSS <small>Front-end Web Design</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Responsive Design <small>Responsive Layout For Mobile Devices</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Design Helpers <small>Jade, Sass , Grunt , Gulp, Css-Min, babel etc ... </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> CSRF Protection <small> Cross-Site Request Forgery Protection  </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Node.js &amp; Express.js <small>NPM, Web Applications With Node.js and Express.js </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Database <small> Mysql, Mssql, MongoDB ( Manipulation &amp; Structuring )</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Basic Server Configuration <small>LAMP Stack Setup</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Version Controll <small>Version Controll Applications With Git &amp; Gitlab / Github</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Secure Shell <small>SSH Communications &amp; Authorizations With Server</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> API's <small>Third-Party Apps Implementation &amp; Programming For Web Applications</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Compatibility <small>Tests for the top browsers &amp; mobile</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Communication <small>Grate team player</small></h3>
        </li>
      </ul>
      <ul class="wow fadeIn">
        <h4>Personal</h4>
        <li>
          <i class="material-icons">group</i>
          <h3> Team Player <small> Great at projects with teams </small></h3>
        </li>

        <li>
          <i class="material-icons">lightbulb_outline</i>
          <h3> Advance Planning <small> Plan project's steps ahead of time </small></h3>
        </li>

        <li>
          <i class="material-icons">update</i>
          <h3> Dedicated <small> Guaranteed quality and deadline </small></h3>
        </li>

        <li>
          <i class="material-icons">translate</i>
          <h3> Bilingual <small> Fluent in English &amp; Portuguese </small></h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="services" data-scroll-index="4">
  <div class="container">
    <h2>Services</h2>
    <div class="items">

      <div class="item wow slideInLeft">
        <span class="icon"><i class="material-icons">devices</i></span>
        <h3>Web Design</h3>
        <p>Design &amp; Code a responsive , beautiful and cost effective layout for your website!</p>
        <p>What’s keeping you from your success in the web?</p>
        <a href="#" data-scroll-goto="6">Request an estimate</a>
      </div>

      <div class="item wow slideInUp">
        <span class="icon"><i class="material-icons">code</i></span>
        <h3>Web Development</h3>
        <p>Create &amp; Code a web application for your needs.Share you content with anyone with your API or even make your own managing system !</p>
        <p>Illimited things to create, why not enroll?  </p>
        <a href="#" data-scroll-goto="6">Request an estimate</a>
      </div>

      <div class="item wow slideInRight">
        <span class="icon"><i class="material-icons">bug_report</i></span>
        <h3>Web MAINTENACE</h3>
        <p>Maintain , debug ,implement or even refresh your web application and keep it up-to-date without it breaking over time!</p>
        <p>What’s keeping you from your upgrading?</p>
        <a href="#" data-scroll-goto="6">Request an estimate</a>
      </div>

    </div>
  </div>
</section>

<section class="portfolio" data-scroll-index="5">
  <div class="container">
    <h2>Portfolio</h2>
    <div class="items">
      <a href="#modal" class="more" data-title="Patricia Batistoni" data-image="assets/public/images/client-1.jpg" data-href="http://www.patriciabatistoni.com" data-description="A cosmetic professional who offers a high quality job prioritizing the well being, personal hygiene and with first quality products.">
        <img src="assets/public/images/client-1.jpg" alt="Patricia Batistoni">
      </a>
      <a href="#modal" class="more" data-title="Arcolon" data-image="assets/public/images/client-2.jpg" data-href="https://hudsonnicoletti.github.io/arcolon/index.html" data-description="An Brazilian company for installing,repairing and maintaining home or office air conditioners.">
        <img src="assets/public/images/client-2.jpg" alt="Arcolon">
      </a>
      <a href="#modal" class="more" data-title="Desentupidora Sete" data-image="assets/public/images/client-3.jpg" data-href="http://desentupidorasete.com.br" data-description="A company who's mission is to ensure the service delivery with quality, ethics and responsibility, meeting the real needs of the client, matching with the satisfaction of the expectations for your home cleaning.">
        <img src="assets/public/images/client-3.jpg" alt="Desentupidora Sete">
      </a>
      <a href="#modal" class="more" data-title="Metacon Engenharia" data-image="assets/public/images/client-4.jpg" data-href="http://metacon.eng.br" data-description="Metacon Engenharia was born on July 20, 1991, in Londrina, materializing the dream of the founding partner Renato Fogaça. With 29 real estate developments carried out, since its founding, it has been operating in a wide range of market segments and, for 5 years, it has gained a position among the 100 largest construction companies in Brazil. Its activities include investor interface, real estate development, execution and monitoring of works, with main fields of activity in commercial ventures, residential, horizontal condominiums, shopping malls, land subdivisions and outstanding in hotels.">
        <img src="assets/public/images/client-4.jpg" alt="Metacon Engenharia">
      </a>
      <a href="#modal" class="more" data-title="Uel PGAGRO" data-image="assets/public/images/client-5.jpg" data-href="http://www.uel.br/pos/pgagro/" data-description="The Postgraduate Program in Agronomy of the State University of Londrina aims to train and update professionals in the area of Agrarian Sciences and related scientific and technical knowledge for the development of research, teaching, training and diffusion of technologies. This training seeks better economic results and sustainability of agricultural production systems, so that professionals can act in teaching, research, extension and also in the business sector.">
        <img src="assets/public/images/client-5.jpg" alt="Uel PGAGRO">
      </a>
      <a href="#modal" class="more" data-title="Comunidade da Graça" data-image="assets/public/images/client-6.jpg" data-href="http://cglondrina.com.br" data-description="The Comunity of grace was created in the face of the growth and diversification of the Community Churches of Grace in Brazil and abroad. The expansion of the Church demanded an Institution promoting the unity of vision, direction and cooperation among all the churches. The Association is a non-profit organization composed of evangelical Christian churches and social, educational and cultural development and promotion entities.">
        <img src="assets/public/images/client-6.jpg" alt="Comunidade da Graça">
      </a>
      <a href="#modal" class="more" data-title="Kestt" data-image="assets/public/images/client-7.jpg" data-href="https://hudsonnicoletti.github.io/kestt/" data-description="The kestt is the most complete 'social network for file sharing and knowledge' of Brazil and the world, in it you create your profile, and get a space where you will choose the best way to learn and teach (files, audio, blogs, discussion chats, math chat, videos, images, text and more, with a modern, complete and very similar to the most popular social networks today the kestt is easy to navigate and what you seek is just two clicks distance, making your search time is minimized and their learning is well spent and enjoyable.">
        <img src="assets/public/images/client-7.jpg" alt="Kestt">
      </a>
      <a href="#modal" class="more" data-title="Vai Um Desconto ?" data-image="assets/public/images/client-8.jpg" data-href="https://www.vaimdesconto.com" data-description="A platform that discloses discounts for all users of partner companies ensuring you have a unique discount for each product!">
        <img src="assets/public/images/client-8.jpg" alt="Vai Um Desconto ?">
      </a>
      <a href="#modal" class="more" data-title="Rhyno Project Manager" data-image="assets/public/images/client-9.jpg" data-href="https://codecanyon.net/item/rhyno-project-manager/19371131" data-description="Rhyno Project Manager is the best way to manage your expenses, incomes , projects, clients and team members.With Rhyno you can easily collaborate with your team and monitor your work and able to receive payments directly from the manager with an auto currency converter and much more unique features ! It’s easy to use & install.">
        <img src="assets/public/images/client-9.jpg" alt="Rhyno Project Manager">
      </a>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h4 id="modal-title"></h4>
    <div class="center-align">
      <img src="assets/public/images/client-1.jpg" alt="" class="center-align rounded" id="modal-image">
    </div>
    <p id="modal-description"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="#!" id="modal-href" class=" waves-effect waves-green btn-flat">Visit WebSite</a>
  </div>
</div>

<section class="contact" data-scroll-index="6">
  <div class="container">
    <h2>Contact Me</h2>

    <div class="items">
      <div class="column left">
        <form role="form" action="/contact" method="post" accept-charset="utf-8">
          <?php echo $form->render("security");?>
          <div class="row">
           <div class="input-field col m6 s12">
            <i class="material-icons prefix">face</i>
            <input id="name" type="text" class="validate" name="name">
            <label for="name">Your Name</label>
           </div>
           <div class="input-field col m6 s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Your E-Mail</label>
           </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="message" name="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="submit waves-effect waves-light">Submit</button>
          </div>
         </div>
        </form>
      </div>
      <div class="column right">
        <ul class="about">
          <li>
            <div class="icon"><i class="material-icons">home</i><h4>Current Location</h4></div>
            <span>Londrina - PR , Brazil</span>
          </li>
          <li>
            <div class="icon"><i class="material-icons">send</i><h4>E-Mail</h4></div>
            <span>contact@hudsonnicoletti.com</span>
            <span>hudson19962009@gmail.com</span>
          </li>
          <li>
            <div class="icon"><i class="material-icons">work</i><h4>Work</h4></div>
            <span><i class="material-icons">check_circle</i> <h4>Relocateable</h4> </span>
            <span><i class="material-icons">check_circle</i> <h4>Immediate Start</h4>  </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<footer>
  <div class="container">
    <div class="copyright">
      <p>&copy; HUDSON NICOLETTI 2017 ALL RIGHTS RESERVED.</p>
    </div>
    <div class="social">
      <ul>
        <li><a href="https://github.com/HudsonNicoletti" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://gitlab.com/HudsonNicoletti" target="_blank"><i class="fa fa-gitlab"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100011427679480" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/hudsonnicoletti/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
