﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1">
  <meta name="description" content="Website">
  <meta name="author"      content="Hudson Nicoletti">
  <title>Hudson Nicoletti</title>

  <?php echo $this->assets->outputCss(); ?>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

  <?php echo $this->getContent();?>

  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-small amber darken-4">
      <i class="large material-icons">translate</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><a href="/english">English</a></li>
      <li class="waves-effect waves-light"><a href="/portuguese">Português</a></li>
    </ul>
  </div>

  <?php echo $this->assets->outputJs(); ?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98016325-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
