<section class="header">
  <header>
    <h1>Hudson Nicoletti</h1>
    <span>Full Stack Web Developer</span>
    <small>e Piloto Privado ‍✈️	</small>
  </header>
  <button class="scroll" data-scroll-goto="1"></button>
</section>

<nav>
  <a class="toggle" id="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul id="menu">
    <li><a href="#" data-scroll-nav="1" >Sobre</a></li>
    <li><a href="#" data-scroll-nav="2" >Resumo</a></li>
    <li><a href="#" data-scroll-nav="3" >Experiências</a></li>
    <li><a href="#" data-scroll-nav="4" >Serviços</a></li>
    <li><a href="#" data-scroll-nav="5" >Portfolio</a></li>
    <li><a href="#" data-scroll-nav="6" >Contato</a></li>
  </ul>
</nav>

<section class="about" data-scroll-index="1">
  <div class="container">
    <div class="column left wow slideInLeft">
      <h2>Olá, sou o Hudson Nicoletti Modesto <small>um Full Stack Web Developer e Piloto Privado</small></h2>

      <p>Com 5 anos de experiência de programação de websites e aplicativos utilizado métodos modernos de HTML, CSS, JavaScript, PHP, Javascript, Mysql, No-Sql, JSON  e varios frameworks/métodos aprofundados para o desenvolvimento.</p>
      <p>Desenvolvendo websites e aplicativos modernos, facil de entender,é realmente uma paixão minha. Busco ativamente novas tecnologias e mantenho-me atualizado sobre as tendências e avanços tecnológicos. Meu aprendizado continuo permitiu-me ficar à frente da curva e entregar um trabalho excepcional para cada empregador que eu trabalhei tanto em tempo integral e contrato.</p>
      <p>No meu tempo livre, quando eu não estou aprendendo, eu vôo por algumas horas ganhando mais experiência como um piloto profissional.</p>

      <div class="cta">
        <a href="assets/public/docs/resume_pt.pdf"  class="waves-effect waves-light" download="resume.pdf"><i class="material-icons">file_download</i> Meu Currículo</a>
        <a href="#contact" class="waves-effect waves-light" data-scroll-goto="6"><i class="material-icons">work</i> Me Contrate</a>
      </div>
    </div>
    <div class="column right wow slideInRight">
      <figure>
        <img src="assets/public/images/hudson.jpg" alt="Hudson Nicoletti Modesto">
      </figure>
    </div>
  </div>
</section>

<section class="resume" data-scroll-index="2">
  <div class="container">
    <div class="education">
      <h2>Educação</h2>
      <div class="item wow slideInRight">
        <h4 class="date">2017</h4>
        <h3>TOEFL ITP <small>CCAA Londrina</small></h3>
        <div class="dot"></div>
        <p>Prova TOEFL ITP ( Presencial ), com pontuação total de <b>573</b> ( max: 677 ).</p>
        <p> LISTENING - 61 <br>
            STRUCTURE - 54 <br>
            READING   - 57
        </p>
        <p>
          <b>TOEFL IBT Equivalente</b>: 79 - 95 <br>
          <b>IELTS Equivalente</b>: 65 - 70
        </p>
      </div>
      <div class="item wow slideInLeft">
        <h4 class="date">2016 &mdash; 2017</h4>
        <h3>Curso Piloto Privado <small>Aeroclube de Londrina</small></h3>
        <div class="dot"></div>
        <p>Curso Teórico &amp; Prático de Vôo concluída em 8 meses, com 45 horas de vôo eu obtive minha licença de piloto privado.</p>
      </div>
      <div class="item wow slideInRight">
        <h4 class="date">2010 &mdash; 2012</h4>
        <h3>Curso Web Design <small>Microcamp Londrina</small></h3>
        <div class="dot"></div>
        <p>Curso de web design completo, aprendendo desde manipulação de imagens até desafios de codificação em tempo integral.</p>
      </div>
    </div>
    <div class="employment">
      <h2>Experiência de Trabalho</h2>

      <div class="item wow slideInLeft">
        <h4 class="date">2013 &mdash; Today</h4>
        <h3>Full Stack Web Developer <small>Agência dZoë</small></h3>
        <div class="dot"></div>
        <p>Projetado, desenvolvido e publicado aplicações web completas com API e sistemas de login de usuário para as necessidades do cliente; </p>

        <p>Desenvolveu e implementou aplicações complexas de Internet e Intranet em múltiplas plataformas; </p>

        <p>Coordenação com parceiros de sistemas para finalizar projetos e confirmar requisitos;</p>

        <p>Fornecimento de manutenção contínua e desenvolvimento de correções de bugs e conjuntos de patches para aplicações web existentes;</p>

        <p>Projetava um plano estratégico para práticas de desenvolvimento de componentes para apoiar projetos futuros;</p>

        <p>Consistentemente cumprido prazos e exigências para allproduction ordens de trabalho; </p>

        <p>Realizava testes e análise de problemas para servidores, trabalho de infra-estrutura de desktop.</p>
      </div>

      <div class="item wow slideInRight">
        <h4 class="date">2012 &mdash; 2012</h4>
        <h3>Estágio de Web Designer <small>Akweb</small></h3>
        <div class="dot"></div>
        <p>Fornecimento de manutenção contínua e desenvolvimento de correções de bugs e conjuntos de patches para aplicações web existentes;</p>

        <p>Projetava &amp; Desenvolvia artes estruturada para E-Mail Marketing;</p>

        <p>Publicava artes para E-Mail Marketing e banners de websites;</p>
      </div>

    </div>
  </div>
</section>

<section class="skills" data-scroll-index="3">
  <div class="container">
    <h2>Experiências</h2>
    <div class="columns">
      <ul class="wow fadeIn">
        <h4>Profissional</h4>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Estrutura MVC <small> PhalconPHP </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
            <h3> OOP (PHP) <small>Programação Orientada a Objetos</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> PHP <small> Aplicativos Web em PHP</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Javascript <small>Desenvolvimento Front &amp; Back-end</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> HTML &amp; CSS <small>Front-end Web Design</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Design Responsivo <small>Layout responsivo para dispositivos móveis</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Ajudantes de Design <small>Jade, Sass , Grunt , Gulp, Css-Min, babel etc ... </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Proteção CSRF <small> Proteção contra falsificação de pedidos externos </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Node.js &amp; Express.js <small>NPM, Aplicativos web com Node.js and Express.js </small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Banco de Dados <small> Mysql, Mssql, MongoDB ( Manipulação  &amp; Estruturação )</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Configuração de Servidor <small>Configuração da LAMP Stack</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Controle de versão <small>Controle de versão de aplicativos com o Git &amp; Gitlab / Github</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Secure Shell <small>SSH Comunicações &amp; Autorizações com servidor</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> API's <small>Implementação de Aplicativos de Terceiros &amp; Programação para aplicativos da Web</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Compatibilidade <small>Testes para os principais navegadores &amp; móvel</small></h3>
        </li>
        <li>
          <i class="material-icons">blur_on</i>
          <h3> Comunicação <small>Bom comunicador em equipe</small></h3>
        </li>
      </ul>
      <ul class="wow fadeIn">
        <h4>Personal</h4>
        <li>
          <i class="material-icons">group</i>
          <h3> ProAtivo <small>Ótimo em colaborações</small></h3>
        </li>

        <li>
          <i class="material-icons">lightbulb_outline</i>
          <h3> Planejamento Adiantado <small> Planejando os passos do projeto com antecedência</small></h3>
        </li>

        <li>
          <i class="material-icons">update</i>
          <h3> Dedicado <small> Garantia de qualidade e prazo </small></h3>
        </li>

        <li>
          <i class="material-icons">translate</i>
          <h3> Bilingue <small> Fluente em Inglês &amp; Português </small></h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="services" data-scroll-index="4">
  <div class="container">
    <h2>Serviços</h2>
    <div class="items">

      <div class="item wow slideInLeft">
        <span class="icon"><i class="material-icons">devices</i></span>
        <h3>Web Design</h3>
        <p>Desenvolva um website moderno,com layout responsivo e rentável !</p>
        <p>O que está impedindo você de seu sucesso na web?</p>
        <a href="#" data-scroll-goto="6">Faça um orçamento</a>
      </div>

      <div class="item wow slideInUp">
        <span class="icon"><i class="material-icons">code</i></span>
        <h3>Desenvolvimento Web</h3>
        <p>Desenvolva um aplicativo web para suas necessidades. Divulgue seu conteúdo com todos com seu API ou até mesmo crie seu próprio sistema de gestão!</p>
        <p>Coisas ilimitadas para criar, por que não investir?</p>
        <a href="#" data-scroll-goto="6">Faça um orçamento</a>
      </div>

      <div class="item wow slideInRight">
        <span class="icon"><i class="material-icons">bug_report</i></span>
        <h3>Manutenção Web</h3>
        <p>Manter, depurar, implementar ou mesmo atualizar sua aplicação web e mantê-lo atualizado sem quebrar ao longo do tempo!</p>
        <p>O que o impede de atualizar?</p>
        <a href="#" data-scroll-goto="6">Faça um orçamento</a>
      </div>

    </div>
  </div>
</section>

<section class="portfolio" data-scroll-index="5">
  <div class="container">
    <h2>Portfolio</h2>
    <div class="items">
      <a href="#modal" class="more" data-title="Patricia Batistoni" data-image="assets/public/images/client-1.jpg" data-href="http://www.patriciabatistoni.com" data-description="Um profissional cosmético que oferece um trabalho de alta qualidade priorizando o bem estar , higiene pessoal e com produtos de primeira qualidade.">
        <img src="assets/public/images/client-1.jpg" alt="Patricia Batistoni">
      </a>
      <a href="#modal" class="more" data-title="Arcolon" data-image="assets/public/images/client-2.jpg" data-href="https://hudsonnicoletti.github.io/arcolon/index.html" data-description="Empresa brasileira de instalação, reparo e manutenção de condicionadores de ar domésticos ou de escritórios.">
        <img src="assets/public/images/client-2.jpg" alt="Arcolon">
      </a>
      <a href="#modal" class="more" data-title="Desentupidora Sete" data-image="assets/public/images/client-3.jpg" data-href="http://desentupidorasete.com.br" data-description="Uma empresa que tem como missão garantir a prestação de serviços com qualidade, ética e responsabilidade, atendendo às reais necessidades do cliente, combinando com a satisfação das expectativas para sua limpeza domiciliar.">
        <img src="assets/public/images/client-3.jpg" alt="Desentupidora Sete">
      </a>
      <a href="#modal" class="more" data-title="Metacon Engenharia" data-image="assets/public/images/client-4.jpg" data-href="http://metacon.eng.br" data-description="A Construtora Metacon Engenharia nasceu em 20 de julho de 1991, em Londrina, materializando o sonho do sócio fundador Renato Fogaça. Com 29 empreendimentos imobiliários executados, vem, desde sua fundação, atuando nos mais diversos segmentos de mercado e, há 5 anos, conquistando posição entre as 100 maiores construtoras do Brasil. Suas atividades incluem interface com investidores, incorporações imobiliárias, execução e acompanhamento de obras, com principais campos de atuação em empreendimentos comerciais, residenciais, condomínios horizontais, shoppings, loteamentos e grande destaque em hotéis.">
        <img src="assets/public/images/client-4.jpg" alt="Metacon Engenharia">
      </a>
      <a href="#modal" class="more" data-title="Uel PGAGRO" data-image="assets/public/images/client-5.jpg" data-href="http://www.uel.br/pos/pgagro/" data-description="O Programa de Pós-Graduação em Agronomia da Universidade Estadual de Londrina tem como objetivo capacitar e atualizar profissionais da área de Ciências Agrárias e afins com conhecimentos científicos e técnicos para o desenvolvimento de atividades de pesquisa, ensino, treinamento e difusão de tecnologias. Esta capacitação busca melhores resultados econômicos e de sustentabilidade dos sistemas de produção agrícola, de forma que os profissionais possam atuar no ensino, pesquisa, extensão e também no setor empresarial.">
        <img src="assets/public/images/client-5.jpg" alt="Uel PGAGRO">
      </a>
      <a href="#modal" class="more" data-title="Comunidade da Graça" data-image="assets/public/images/client-6.jpg" data-href="http://cglondrina.com.br" data-description="A Fundação Comunidade da Graça é uma entidade de promoção social, cuja visão e desafio estão em alcançar e resgatar o próximo. Empenhados em recuperar a integridade e a dignidade de cada um, baseados nos valores cristãos que pregam a justiça social.Iniciou seus trabalhos em 1982 e, com o decorrer do tempo, tem crescido e atualmente vendo o seu sonho ser concretizado. A partir de 1996, com o nome de Fundação Comunidade da Graça, novos projetos sociais foram criados, com o apoio e o trabalho de muitos voluntários.">
        <img src="assets/public/images/client-6.jpg" alt="Comunidade da Graça">
      </a>
      <a href="#modal" class="more" data-title="Kestt" data-image="assets/public/images/client-7.jpg" data-href="https://hudsonnicoletti.github.io/kestt/" data-description="O kestt é a mais completa “rede social para compartilhamento de arquivos e conhecimento” Do Brasil e do mundo, nele você cria seu perfil, e ganha um espaço onde você vai escolher a melhor forma de aprender e ensinar ( arquivos, áudio, blogs, chats de discussão, chat matemático, vídeos, imagens, textos e muito mais, com uma estrutura moderna, completa e bem parecida com as redes sociais mais conhecidas da atualidade o kestt é de fácil navegação e o que você procura fica a apenas dois cliques de distância, fazendo com que seu tempo de procura seja minimizado e seu aprendizado seja bem aproveitado e prazeroso.">
        <img src="assets/public/images/client-7.jpg" alt="Kestt">
      </a>
      <a href="#modal" class="more" data-title="Vai Um Desconto ?" data-image="assets/public/images/client-8.jpg" data-href="https://www.vaimdesconto.com" data-description="Uma plataforma que divulga descontos para todos usuário de empresas parceiras garantindo que tenha um desconto único para cada produto!">
        <img src="assets/public/images/client-8.jpg" alt="Vai Um Desconto ?">
      </a>
      <a href="#modal" class="more" data-title="Rhyno Project Manager" data-image="assets/public/images/client-9.jpg" data-href="https://codecanyon.net/item/rhyno-project-manager/19371131" data-description="Rhyno Project Manager é a melhor maneira de gerenciar suas despesas, rendas, projetos, clientes e membros da equipe. Com Rhyno você pode facilmente colaborar com sua equipe e monitorar seu trabalho e capaz de receber pagamentos diretamente do gerente com um conversor de moeda automática e Muito mais características únicas! É fácil de usar e instalar. ">
        <img src="assets/public/images/client-9.jpg" alt="Rhyno Project Manager">
      </a>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <h4 id="modal-title"></h4>
    <div class="center-align">
      <img src="assets/public/images/client-1.jpg" alt="" class="center-align rounded" id="modal-image">
    </div>
    <p id="modal-description"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat">Fechar</a>
    <a href="#!" id="modal-href" class=" waves-effect btn-flat">Visite o Site</a>
  </div>
</div>

<section class="contact" data-scroll-index="6">
  <div class="container">
    <h2>Entre em Contato</h2>

    <div class="items">
      <div class="column left">
        <form role="form" action="/contact" method="post" accept-charset="utf-8">
          <?php echo $form->render("security");?>
          <div class="row">
           <div class="input-field col m6 s12">
            <i class="material-icons prefix">face</i>
            <input id="name" type="text" class="validate" name="name">
            <label for="name">Nome Completo</label>
           </div>
           <div class="input-field col m6 s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" name="email">
            <label for="email">E-Mail</label>
           </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="message" name="message" class="materialize-textarea"></textarea>
            <label for="message">Mensagem</label>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="submit waves-effect waves-light">Enviar</button>
          </div>
         </div>
        </form>
      </div>
      <div class="column right">
        <ul class="about">
          <li>
            <div class="icon"><i class="material-icons">home</i><h4>Localidade</h4></div>
            <span>Londrina - PR , Brazil</span>
          </li>
          <li>
            <div class="icon"><i class="material-icons">send</i><h4>E-Mail</h4></div>
            <span>contact@hudsonnicoletti.com</span>
            <span>hudson19962009@gmail.com</span>
          </li>
          <li>
            <div class="icon"><i class="material-icons">work</i><h4>Empregabilidade</h4></div>
            <span><i class="material-icons">check_circle</i> <h4>Trabalho Remoto</h4> </span>
            <span><i class="material-icons">check_circle</i> <h4>Início Imediato</h4>  </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<footer>
  <div class="container">
    <div class="copyright">
      <p>&copy; HUDSON NICOLETTI 2017 TODOS DIREITOS RESERVADOS.</p>
    </div>
    <div class="social">
      <ul>
        <li><a href="https://github.com/HudsonNicoletti" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://gitlab.com/HudsonNicoletti" target="_blank"><i class="fa fa-gitlab"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100011427679480" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/hudsonnicoletti/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
