@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import url('https://fonts.googleapis.com/css?family=Lato')
@import url('https://fonts.googleapis.com/css?family=Damion')
@import 'fonts'
@import 'animate'

$white: #fafafa
$white2: #f5f5f5
// $purple: #29203d
// $purple: #3F2567
$purple: #1a0a32
$dark: #211C33
$orange: #f7933b

@viewport
  zoom: 1.0
  width: device-width

body
  overflow-y: hidden

body,html
  font-family: 'Lato'
  margin: 0
  padding: 0
  overflow-x: hidden
  background-color: #fafafa

  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-track
    background: $purple

  &::-webkit-scrollbar-thumb
    background-color: rgba($white,1)
    outline: 1px solid $purple
